.card-dropdown {
  display: block;
  position: absolute;
  background-color: #fff;
  min-width: 300px;
  height: 340px;
  display: flex;
  flex-direction: column;
  z-index: 222;
  left: -43px;
  top: 40px;
  border-radius: 4px;
  transform: translateX(-50%);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 26px 20px 23px;
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  }
  .subtotal-container {
    margin-top: 10px;
    font-weight: 500;
    .subtotal {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
    }
    .subtotal-value {
      text-align: end;
    }
  }

  &.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding-right: 0;
    height: 150px;
    svg {
      color: #000;
      font-size: 60px;
      opacity: 0.4;
      margin-bottom: 15px;
    }
    span {
      opacity: 0.5;
    }
  }
  .cart-item-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid rgba(198, 198, 198, 0.567);
    img {
      max-width: 100%;
    }
    .item-name {
      font-size: 13px;
    }
    .item-desc {
      margin-top: 3px;
      display: flex;
      align-items: center;
      span {
        width: inherit !important;
        padding: 0 !important;
        margin: 0 !important;
        letter-spacing: 6px;
        font-size: 13px;
        opacity: 0.5;
      }
    }
    svg {
      color: #000;
      font-size: 15px;
      margin-left: 20px !important;
    }
    strong {
      padding: 0 !important;
      margin: 0 !important;
    }
    .item-price {
      display: inline-block;

      font-weight: bold;
    }
  }
}
