@import "../../styleVariables/Variabels";
.navbar {
  background-color: #8c715e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0px;
  height: 50px;
  z-index: 999;
  .navContainer {
    @include FlexBetween();
    width: 100%;
    padding: 0 15px;
  }

  .burger {
    display: none;
    color: #fff;
  }
  .brand-logo {
    width: 100px;
  }
  .links a {
    margin: 0 20px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      color: #212121;
    }
  }
  svg {
    color: #fff;
    font-size: 20px;
    margin: 0 8px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: scale(0.9);
    }
  }
  .options {
    display: flex;
    align-items: center;
    .cart {
      position: relative;
      .cart-items-number {
        position: absolute;
        left: 20px;
        top: 16px;
        background-color: #b08d75;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        color: #fff;
        font-size: 11px;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    height: 200px;
    background-color: transparent !important;
    .navContainer {
      // @include FlexBetween();
      padding: 0 !important;
    }
    .burger {
      display: block;
    }
    &.opened {
      .links {
        left: 0;
      }
    }
    .options {
      background-color: #fff;
      width: 100%;
      position: absolute;
      top: 0;
      height: 70px;
      @include FlexBetween();
      & > svg {
        color: $MainBrown;
      }
    }
    .links {
      @include FlexCol();
      background-color: #fff;
      position: absolute;
      left: -100%;
      transition: left 0.5s ease-in-out;
      top: 69px;
      height: 100vh;
      width: 200px;
      a {
        color: #000;
        margin: 12px 30px;
        &:first-child {
          margin-top: 30px;
        }
      }
    }
    .brand {
      position: absolute;
      top: 69px;
      background-color: $MainBrown;
      width: 100%;
      @include FlexCenter();
      height: 60px;
    }
  }
}
