@import "../../styleVariables/Variabels";
.footer {
    margin: 50px 0;
    padding: 50px 0;
    background-color: #F7F8FA;
    .categories, .my-account, .newsletter {
        h5 {
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 16px;
            letter-spacing: 2px;
        }
        ul {
            list-style: none;
            padding: 0 !important;
            margin: 0 !important;
            margin-left: 15px !important;
            li {
                margin-top: 5px;
                font-size: 14px;
                cursor: pointer;
                color: #999999;
                transition: 0.3s ease-in-out;
                &:hover {
                    padding-left: 3px;
                    color: $MainBrown;
                }
            }
        }
    }
    .newsletter {
        .email-input {
            display: flex;
            align-items: center;
            text-align: start;
            input {
                width: 80%;
                padding: 0 0 0 15px;
                border: none;
                outline: none;
                margin: 15px 0;
                font-size: 15px;
                height: 40px;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
            button {
                height: 40px;
                border: none;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                color: #fff;
                padding: 0 10px;
                background-color: $MainBrown;
            }
        }
        p {
            font-size: 13px;
            color: #999999;
        }
        
    }
    .social-media {
        svg {
            margin: 0 10px;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                color: $MainBrown;
            }
        }
    }
}
@media (max-width:768px) {
    .categories, .my-account, .newsletter{
        margin-bottom: 40px;
        
    }
}